.header__logo {
  background-image: url(../../../image/logoheader.svg);
  width: 142px;
  height: 33px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width:466px) {
  .header__logo {
    max-width: 104px;
    height: 24px;
    margin-left: 27px;
    margin-bottom: 31px;
  }
}

