.page {
  max-width: 1280px;
  min-width: 320px;
  background-color: #000;
  padding-bottom: 60px;
  color: #fff;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

@media screen and (max-width: 460px) {
  .page {
    padding-bottom: 36px;
  }
}
